In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://foretheta-devop.s3-us-west-2.amazonaws.com/test-eshban/loan_data_preprocessed.csv"

In [3]:
loan_data = pd.read_csv(url)
loan_data.shape

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (20,48) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(466285, 207)

In [4]:
loan_data.head()

   Unnamed: 0       id  ...  initial_list_status:f  initial_list_status:w
0           0  1077501  ...                      1                      0
1           1  1077430  ...                      1                      0
2           2  1077175  ...                      1                      0
3           3  1076863  ...                      1                      0
4           4  1075358  ...                      1                      0

[5 rows x 207 columns]

In [5]:
loan_data['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [6]:
loan_data['loan_status'].value_counts()

Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [7]:
loan_data['loan_status'].value_counts() / loan_data['loan_status'].count()

Current                                                0.480878
Fully Paid                                             0.396193
Charged Off                                            0.091092
Late (31-120 days)                                     0.014798
In Grace Period                                        0.006747
Does not meet the credit policy. Status:Fully Paid     0.004263
Late (16-30 days)                                      0.002612
Default                                                0.001784
Does not meet the credit policy. Status:Charged Off    0.001632
Name: loan_status, dtype: float64

In [8]:
loan_data['good_bad'] = np.where(loan_data['loan_status'].isin(['Charged Off', 'Default',
                                                       'Does not meet the credit policy. Status:Charged Off',
                                                       'Late (31-120 days)']), 0, 1)

In [9]:
loan_data['good_bad']

0         1
1         0
2         1
3         1
4         1
         ..
466280    1
466281    0
466282    1
466283    1
466284    1
Name: good_bad, Length: 466285, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
train_test_split(loan_data.drop('good_bad', axis = 1), loan_data['good_bad'])

[        Unnamed: 0        id  ...  initial_list_status:f  initial_list_status:w
 47348        47348   9777425  ...                      1                      0
 263263      263263  32288763  ...                      0                      1
 224469      224469   1172478  ...                      1                      0
 8483          8483    862873  ...                      1                      0
 68374        68374   8600586  ...                      1                      0
 ...            ...       ...  ...                    ...                    ...
 259982      259982  34301984  ...                      1                      0
 300870      300870  28702683  ...                      1                      0
 43091        43091  10138845  ...                      0                      1
 302309      302309  27520736  ...                      1                      0
 6568          6568    967192  ...                      1                      0

 [349713 rows x 207 columns],
         Unnamed: 0        id  ...  initial_list_status:f  initial_list_status:w
 15093        15093    755184  ...                      1                      0
 192164      192164   1601836  ...                      1                      0
 433357      433357  12488049  ...                      1                      0
 74300        74300   8147533  ...                      1                      0
 140009      140009   5026591  ...                      1                      0
 ...            ...       ...  ...                    ...                    ...
 343455      343455  21281676  ...                      0                      1
 262868      262868  33371613  ...                      0                      1
 240615      240615  36109433  ...                      1                      0
 53931        53931   9238444  ...                      1                      0
 462715      462715  10092020  ...                      1                      0

 [116572 rows x 207 columns],
 47348     1
 263263    1
 224469    1
 8483      1
 68374     1
          ..
 259982    1
 300870    1
 43091     1
 302309    1
 6568      1
 Name: good_bad, Length: 349713, dtype: int64,
 15093     1
 192164    0
 433357    1
 74300     1
 140009    1
          ..
 343455    1
 262868    1
 240615    1
 53931     1
 462715    1
 Name: good_bad, Length: 116572, dtype: int64]

In [12]:
loan_data_inputs_train, loan_data_inputs_test, loan_data_targets_train, loan_data_targets_test = train_test_split(loan_data.drop('good_bad', axis = 1), loan_data['good_bad'])

In [13]:
loan_data_inputs_train.shape

(349713, 207)

In [14]:
loan_data_targets_train.shape

(349713,)

In [15]:
loan_data_inputs_test.shape

(116572, 207)

In [16]:
loan_data_targets_test.shape

(116572,)

In [17]:
loan_data_inputs_train, loan_data_inputs_test, loan_data_targets_train, loan_data_targets_test = train_test_split(loan_data.drop('good_bad', axis = 1), loan_data['good_bad'], test_size = 0.2, random_state = 42)

In [18]:
loan_data_inputs_train.shape

(373028, 207)

In [19]:
loan_data_targets_train.shape

(373028,)

In [20]:
loan_data_inputs_test.shape

(93257, 207)

In [21]:
loan_data_targets_test.shape

(93257,)